html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
    align-items: center;
    margin: 0;

    font-family: "Kumbh Sans", sans-serif;
}

.sr-only {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    max-width: 70rem;
    min-height: 30rem;
    background-color: white;
    box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.3);

    gap: 1rem;
    border-radius: 1rem;
}
.image-container {
    display: grid;
    align-items: center;
}
.image-container__extra-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.illustration-woman-online-desktop {
    position: absolute;
    /* display: block; */
    transform: translateX(-5rem);
}
.bg-pattern-desktop {
    position: absolute;
    transform: translateX(-35.7rem) translateY(-5rem);
}
.illustration-box-desktop {
    position: absolute;
    z-index: 1;
    transform: translateX(-5.8rem) translateY(-2.5rem);
}

.mobile-image-container {
    display: none;
}

.faq {
    border-bottom: 0.1rem solid hsl(240, 5%, 91%);
    padding-bottom: 0.5em;
}

.faq-container {
    padding: 3em 7em 7em 0;
}

.faq-question-container {
    display: flex;
    justify-content: space-between;

    padding-top: 1em;
}

.faq-question-container:hover {
    cursor: pointer;
}

.faq-question-container:hover > .faq-question {
    color: hsl(14, 88%, 65%);
}

.faq-question {
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(237, 12%, 33%);
}

.h1 {
    color: hsl(237, 12%, 33%);
    font-weight: 700;
}

.p {
    font-size: 0.75rem; /* 12px */
    color: hsl(240, 6%, 50%);
    font-weight: 400;
}

.arrow-twist {
    transform: scaleY(-1);
}

.display-none {
    display: none;
}

.attribution {
    margin-top: 2em;
    color: white;
    font-weight: 600;
}

.attribution a {
    text-decoration: none;
    color: lightblue;
}
.attribution a:hover {
    transition: 0.5s;
    color: red;
}

/* TranslateY causes issues in firefox. That is why I wrote code specific for firefox */
@-moz-document url-prefix() {
    .illustration-box-desktop {
        position: absolute;
        z-index: 1;
        transform: translateX(-5.8rem) translateY(3.15rem);
    }
}

/* for Chrome browser */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .illustration-box-desktop {
        position: absolute;
        z-index: 1;
        transform: translateX(-5.8rem) translateY(3.15rem);
    }
} */

/* To make sure the orange box does not overflow from the screen */
@media (max-width: 1210px) {
    main {
        width: 90%;
        margin-inline: auto;
    }
}

@media (max-width: 950px) {
    main {
        width: 100%;
        padding-top: 5em;
    }

    .container {
        grid-template-columns: 1fr;
        margin: 2em 2em 0em 2em;
    }
    .image-container {
        display: grid;
        justify-content: center;
    }
    .illustration-woman-online-desktop {
        display: none;
    }
    .bg-pattern-desktop {
        display: none;
    }
    .illustration-box-desktop {
        display: none;
    }
    .mobile-image-container {
        display: flex;
        justify-content: center;
        padding: 2em;
        /* align-items: center; */
        height: 1em;
    }
    .mobile-image {
        /* display: block; */
        position: absolute;

        width: 15rem;

        transform: translateY(-8.7rem);
    }

    .mobile-background-image {
        position: absolute;

        transform: translateY(-2rem);
    }

    .faq-container {
        padding: 2em 2em 3em 2em;
        display: flex;
        flex-direction: column;
    }
    .faq-h1 {
        text-align: center;
    }
}
