html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: hsl(273, 75%, 66%);
    display: grid;
    align-items: center;
    margin: 0;

    font-size: 12px;
}
.sr-only {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    max-width: 80em;
    max-height: 40em;
    background-color: white;
    overflow: hidden;

    gap: 1rem;
}
.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.illustration-woman-online-desktop {
    position: absolute;
}
.bg-pattern-desktop {
    max-width: 40rem;
    max-height: 40rem;
}
.illustration-box-desktop {
    max-width: 40rem;
    max-height: 40rem;
}

.faq {
    border-bottom: 0.1rem solid hsl(240, 5%, 91%);
}

.faq-question-container {
    display: flex;
    justify-content: space-between;
}
